h1 {
    color: white;
    text-align: center;
    background-color: black;
  }

body {
    background-color: darkcyan;
    
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

.knapp{
  background-color: black;
  color: #00FF00;
}